* {
  box-sizing: border-box;
}

.layout {
  width: 450px;
  height: 600px;

  display: grid;
  grid:
    "header header header" auto "leftSide body rightSide" 1fr "footer footer footer" auto / auto 1fr auto;
  gap: 8px;
}

.header {
  grid-area: header;
}

.leftSide {
  grid-area: leftSide;
  padding-bottom: 10px;
}

footer p {
  background-color: grey;

  align-self: center;
  /* main{
  
} */

  .dont-use {
    display: none;

  }

  .test3 {
    display: none;
  }