html {
  background: url("/images/table-light.jpg") no-repeat;
  background-size: cover;
}

.parentContainer {
  display: grid;
  grid-template-columns: 20% 30% 50%;
  grid-template-rows: 10% 55% 20% 2%;
}

h1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.submitForm {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.dataBlock {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
}

.gamePlayScreen {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
